
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');

// VARIABLES
$font-base: 'Maven Pro', sans-serif;
$body-font-size: 18px;
$h1-font-size: 2.8em;
$h2-font-size: 2.4em;

$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-light: 300;

$h1-font-color: #212121;
$h2-font-color: #000000;
$h3-font-color: #1b1b1b;
$body-font-color: #5b5b5b;
$text-white: #ffffff;
$dark-mode-color: #0c0c0d;
$main-color-old: #ffc200;
$main-color: #4c979b;
$border-color: #f2f2f1;
$button-color: #366a7f;
$small-color: #b1b1b1;
$modal-background: #272727;
$navbar-background: #464646;
$link-color: #074a4d;
$custom-button-shadow: #074a4db3;
$custom-button-shadow-hover: #4c979bb3;

$small-font-size: 14px;
$link-font-size: 16px;

@mixin transition-effect {
	transition: all 0.4s ease;
}

.imgMap{
	background-image: url("../images/icons.png");
	width: 60px;
	height: 60px;
	display: inline-block;
}

body {
	font-family: $font-base;
	padding-top: 70px;
}

.intermediateIcons{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	img{
		width: 45px;
		height: 45px;
		margin-top: 0.5em;
	}
}

.full-screen {
	padding: 2rem 0;
}

.small-text {
    color: $body-font-color;
    font-size: $small-font-size;
    font-weight: $font-weight-bold;
    padding: 8px 16px;
    border-radius: 50px;
    letter-spacing: 0.2px;
}

.meImg{
	height: 50px;
	width: 50px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 50%;
	background-size: 100% auto;
	background-image: url("../images/me.jpeg");
    border-radius: 50%;
	box-shadow: 0;
  	transition: box-shadow 1s;
	&:hover{
		box-shadow: 0 0 0 10px rgba(27, 159, 163, 0.247);
	}
}

small a{
	font-weight: bold;
	color: $main-color;
	&:hover{
		color: $link-color !important;
	}
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}

a {
	font-size: $link-font-size;
	font-weight: $font-weight-normal;
	text-decoration: none !important;
	@include transition-effect;
	&:hover {
		color: $main-color !important;
	}
}

.navbar-brand {
	.uil {
		font-size: 40px;
	}
}


// TYPOGRAPHY
p {
	font-size: $body-font-size;
	font-weight: $font-weight-light;
	line-height: 1.5;
	color: $body-font-color;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: $font-weight-bold;
	letter-spacing: -1px;
}

h1 {
	color: $h1-font-color;
	font-size: $h1-font-size;
	margin: 24px 0;
}

h2 {
	color: $h2-font-color;
	font-size: $h2-font-size;
	font-weight: $font-weight-bold;
}

h3 {
	color: $h3-font-color;
}

h3,
b, strong {
	font-weight: $font-weight-bold;
}


// CUSTOM BUTTON
.custom-btn {
	color: $body-font-color;
	font-weight: $font-weight-bold;
    border-radius: 50px;
    padding: 13px 29px;
    font-size: $small-font-size;
    line-height: normal;
    overflow: hidden;

	box-shadow: -7px 6px 9px 2px $custom-button-shadow;

    @include transition-effect;
    &:hover {
    	color: $main-color;
    }
	&:active{
		transform: translateY(4px);
	}
    &.custom-btn-bg {
    	background: $button-color;
		color: $text-white;
		&:hover {
	    	background: $main-color;
	    	color: $text-white !important;
			box-shadow: -7px 6px 9px 2px $custom-button-shadow-hover;
	    }
    }
}

.imgPrincipal{
	width: 320px;
}
.about-image{
	text-align: end;
}

// ANIMATED TEXT
.animated {
    position: relative;
}

.animated-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    width: 250px;
    position: relative;
}

.animated-item {
	color: $main-color;
    font-size: 32px;
    line-height: inherit;
    display: block;
	min-width: 140%;
}

@keyframes BottomTotop {
    0% { opacity: 0; }
    5% { opacity: 0; transform: translateY(5px); }
    10% { opacity: 1; transform: translateY(0px); }
    25% { opacity: 1; transform: translateY(0px); }
    30% { opacity: 0; transform: translateY(5px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

//MODAL
.listaAboutMe{
	padding: 0 0 0 2em;
}
.aboutMeTitles{
	font-weight: bold;
}

// MENU
.navbar {
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    will-change: transform;
    transition: transform 200ms linear;
    &[class*="headroom--not-top"] {
    	background: $text-white;
    	// box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
    	border-bottom: 1px solid #f0f0f0;
    	padding-top: 0;
    	padding-bottom: 0;
    }
}

.navbar-brand {
	font-weight: $font-weight-bold;
}

.navbar-expand-sm {
	.navbar-nav {
		.nav-link {
			padding: 0 20px;
		}
	}
}

.nav-link {
	font-weight: $font-weight-bold;
	font-size: 16px;
	overflow: hidden;
	span {
    	position: relative;
		display: inline-block;
		transition: transform 0.3s;
		&:before {
			position: absolute;
			top: 100%;
			content: attr(data-hover);
			transform: translate3d(0,0,0);
		}
    }
}

.navbar-light {
	.navbar-nav {
		.nav-link:focus,
		.nav-link:hover {
			color: $main-color;
			font-weight: $font-weight-bold;
			span {
	    		transform: translateY(-100%);
	    	}
		}
	}
} 


// HAMBURGER MENU
.navbar-light {
	.navbar-toggler-icon {
		background: none;
	}
}

.navbar-toggler {
	border: 0;
	padding: 0;
	width: 32px;
	height: 32px;
	line-height: 32px;
	outline: none;
	cursor: pointer;
	margin-right: 10px;
	&:focus {
		outline: none;
	}
	&[aria-expanded="true"] {
		.navbar-toggler-icon {
			&:first-child {
				transform: rotate(45deg);
				top: 6px;
			}
			&:nth-child(2) {
				display: none;
			}
			&:last-child {
				transform: rotate(-45deg);
				bottom: 1px;
			}
		}
	}
	.navbar-toggler-icon {
		background: $h1-font-color;
		display: block;
		width: 100%;
		height: 2px;
		margin: 5px 0;
		@include transition-effect;
		position: relative;
	}
}

.habilities{
	display: grid;
	grid-template-columns: repeat(4,minmax(0,1fr));
	align-items: center;
	font-size: 13px;
	div{
		border-radius: 35px;
	}
	.border{
		margin: 2px 2px 2px;
	}
	img{
		width: 35px;
		height: 35px;
	}
	&.hab-hobbies{
		grid-template-columns: repeat(3,minmax(0,1fr));
	}
}


// COPYRIGHT TEXT
.copyright-text {
	font-size: 17px;
	font-weight: bold;
	display: block;
	text-transform: uppercase;
}


// COLOR MODE
.color-mode {
	font-weight: $font-weight-bold;
	cursor: pointer;
}

.color-mode-icon {
	position: relative;
	right: 6px;
  &:after {
  	font-family: 'unicons';
  	content: '\ea9f';
  	font-size: 30px;
  	font-weight: 300;
  	font-style: normal;
  }
  &.active {
  	&:after {
  		font-family: 'unicons';
  		content: '\eb65';
  		font-size: 30px;
  		color: $text-white;
  	}
  }
}

.dark-mode {
	background: $dark-mode-color;
	.navbar-light .navbar-nav .nav-link {
		color: rgb(255, 255, 255);
		&:hover {
			color: $main-color;
		}
	}
	.navbar {
		&[class*="headroom--not-top"] {
			background: $dark-mode-color;
			border-bottom: 1px solid #1f1f1f;
	    }
	}
	.small-text {
		background: #0d0c15;
		color: $text-white;
	}
	.feature-card .uil, .button-text,
	.navbar-light .navbar-brand,
	h1, h2, h3, h4, h5, h6, p, .close,
	.color-mode, .navbar-toggler .navbar-toggler-icon, .txtAboutMe{
		color: $text-white !important;
	}
	.owl-carousel {
		.owl-nav button.owl-next,
		.owl-nav button.owl-prev,
		button.owl-dot {
			color: $text-white;
		}
	}
	small{
		color: $text-white !important;
	}

	.subtitle {
		color: #4c979b !important;
	}

	.modal-content{
		background: $modal-background;
	}

	.navbar-toggler .navbar-toggler-icon, .bg-dark-mode-svg, hr{
		background: $text-white !important;
	}

	.btn-close{
		background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat
	}

	.copyright-text{
		color: $text-white;
		text-shadow: 2px 3px #ffffff38;
	}

	.dropdown-menu{
		background: $modal-background;
		color: $text-white;
		.dropdown-item{
			color: $text-white;
		}
		.dropdown-item img{
			background: $text-white;
			border-radius: 25%;
		}
		.bg-git{
			border-radius: 50% !important;
		}
	}

	.habilities{
		color: $text-white;
	}
}

.svg-social img{
	width: 15px;
	height: 15px;
}

.svg-social li{
	display: flex;
	align-items: center;
}

.dropdown-item.active, .dropdown-item:active{
	color: transparent;
	background-color: transparent;
}


// TIMELINE
.timeline-wrapper {
	position: relative;
	padding-bottom: 10px;
	&:last-child {
		&:before {
			height: 0;
		}
	}
	&:before {
		content: "";
    	background: $button-color;
    	width: 3px;
    	height: 100%;
    	position: absolute;
    	left: 42px; 
	}
}

.bg-dark-mode-svg-rounded{
	background: $text-white;
	border-radius: 50%;
}

.timeline-yr {
	background: $button-color;
	border-radius: 100%;
	position: absolute;
	width: 85px;
	height: 85px;
	line-height: 85px;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
	span {
		color: $text-white;
    	font-size: 15px;
    	font-weight: $font-weight-bold;
    	display: block;
    	line-height: 75px;
	}
}

.timeline-info {
	display: inline-block;
	vertical-align: top;
	max-width: 432px;
	margin-left: 6em;
	small {
		color: $button-color;
    	font-size: $link-font-size;
    	font-weight: $font-weight-bold;
    	display: inline-block;
    	vertical-align: middle;
    	margin-left: 15px;
	}
}


// OWL CAROUSEL
.owl-carousel {
	.owl-nav {
		span {
			display: none;
		}
		.owl-prev,
		.owl-next {
			&:before {
				background: none;
				padding: 0;
				display: block;
				position: absolute;
				top: 50%;
				transform: translate(0, -50%); 
				font-family: 'unicons';
				font-size: 100px;
				line-height: normal;
			}
		}
		.owl-prev {
			&:before {
				content: '\e833';
  				left: -45px; 
			}
		}
		.owl-next {
			&:before {
				content: '\e836';
  				right: -45px; 
			}
		}
	}
}

.owl-theme {
	.owl-nav [class*=owl-] {
		background: none;
  		border-radius: 0;
  		margin: 0;
  		padding: 0;
  		font-size: inherit; 
  		&:hover {
  			color: $main-color;
  		}
	}
  	.owl-dots {
  		.owl-dot {
  			outline: none;
  			span {
  				width: 8px;
  				height: 8px;
  			}
  			&.active,
  			&:hover {
  				span {
  					background: $body-font-color;
  				}
  			}
  		}
  	}
}


// GOOGLE MAP
.google-map {
	iframe {
		width: 100%;
	}
}


// CONTACT FORM
.contact-form {
	position: relative;
	.form-control {
		background: transparent;
		border-radius: 2px;
		outline: none;
		box-shadow: none;
		font-weight: $font-weight-bold;
		margin: 16px 0;
		&:not(textarea) {
			height: 48px;
		}
		&:hover,
		&:focus {
			border-color: $main-color;
		}
	}
	.submit-btn {
		background: $main-color;
		border-radius: 50px;
		color: $text-white;
		font-weight: $font-weight-bold;
		border: 0;
		cursor: pointer;
		@include transition-effect;
		&:hover {
			background: $button-color;
		}
	}
}

.contact-info {
	background: $button-color;
	border-radius: 0 0 3px 3px;
	position: relative;
	bottom: 8px;
	p, a {
		color: #f7f3f3;
	}
}

.switchMode{
	position: absolute;
    right: 50px;
}


// SOCIAL LINKS
.social-links {
	.uil {
		color: #f7f3f3;
		font-size: 20px;
		display: block;
		margin: 5px 0;
		&:hover {
			color: $main-color;
		}
	}
}


// RESPONSIVE STYLES
@media (min-width: 1270px) {
	.owl-theme {
		.owl-dots {
			position: relative;
			bottom: 50px;
		}
	}
	.txtMode{
		display: block;
	}
}

@media (max-width:1300px) {
	.name{
		font-size: 2em !important;
	}
	.subtitle {
		font-size: 1.8em !important;
	}
}

@media (max-width:1250px) {
	.habilities {
		grid-template-columns: repeat(3,minmax(0,1fr));
		&.hab-hobbies{
			grid-template-columns: repeat(2,minmax(0,1fr));
		}
	}
}

@media (max-width: 991px) {
	.full-screen {
		padding-bottom: 4rem;
	}

	.txtMode {
		display: none;
	}

	.about-image {
		margin-top: 4em;
		text-align: center;
	}

	.mobile-mt-2,
	.contact-form {
		margin-top: 2em;
	}

	.contact-info {
		padding: 0 2rem;
	}

	.name{
		font-size: 2.8em !important;
	}
	.subtitle {
		font-size: 2em !important;
	}
}


@media (max-width: 767px) {

	h1 {
		font-size: 2.4em;
	}

	h2 {
		font-size: 2em;
	}

	.animated-item {
		font-size: 28px;
	}

	.navbar-collapse {
		background: $text-white;
		text-align: center;
	}
	.dark-mode .navbar-collapse{
		background: $dark-mode-color;
	}

	.navbar-expand-sm .navbar-nav .nav-link {
		padding: 3px 20px;
	}

	#message {
		font-size: 1.4em !important;
	}
}


@media (max-width: 580px) {

	.animated-item {
		font-size: 24px;
	}

	.custom-btn-group {
		text-align: center;
	}

	.custom-btn {
		display: block;
		margin: 10px 0;
	}

	.owl-theme .owl-nav {
		display: none;
	}

	.timeline-info small {
		display: block;
		margin: 10px 0 0 0;
	}

	.centrado-peque{
		justify-content: center;
	}

	.basic{
		margin-top: 2em;
	}

	.habilities {
		grid-template-columns: repeat(2,minmax(0,1fr));
	}

	.name{
		font-size: 2em !important;
	}
	.subtitle {
		font-size: 1.8em !important;
	}
}


@media (max-width: 320px) {

	.animated-text {
		margin-top: 0;
	}

	.about-text {
		text-align: center;
	}

	.full-screen {
		padding: 4rem 0;
	}

	.mobile-block {
		display: block;
	}

	.contact-info {
		flex-direction: column;
	}

	.social-links {
		li {
			display: inline-block;
			vertical-align: top;
		}
	}
}